<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-Shortner</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/marker-u.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
       <h1>Url-Shortner</h1>

       <% if (locals.error) { %>
             <p class="error"><%= error %></p>
        <% } %>
        
        <form action="/" method="post">
            <input type="url" name="url" id="url" placeholder="Enter Url here...">
            <input type="submit" value="Create URL">
        </form>

        <div class="short-url">
            <% if(locals.short_url) { %>
                <p>Click the link below!!</p>
                <a href="http://<%= short_url %>" target="_blank"><%= short_url %></a>
            <% } %>
        </div>

        <div class="footer">
            Made with ❤ By Anish
        </div>
</body>
</html>